@import "../../global-style/style.scss";
header {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: $bg-header;
  .header-container {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    color: white;
    font-weight: 600;
    @include box-shadow-bottom();
    @media screen and (max-width: 576px) {
      height: auto;
      flex-direction: column;
    }
    .logo {
      text-align: center;
      font-family: "Monoton", cursive;
      color: $btn-color-hover;
      font-size: 35px;
      padding-bottom: 10px;
      margin-left: 50px;
      @media screen and (max-width: 576px) {
        font-size: 25px;
        margin-top: 10px;
        margin-left: 0px;
      }
    }
  }
}
