.navigation-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  ul {
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
    li {
      padding: 5px 15px;
      margin: 0 5px;
      cursor: pointer;
      background-color: var(--btn-nav-bg);
      color: var(--btn-nav-color);
      border-radius: 5px;
      @media screen and (max-width: 600px) {
        font-size: 10px;
        padding: 5px 10px;
      }
      &:hover {
        background: var(--btn-bg-color-hover);
        color: var(--btn-bg-color-hover-color);
      }
    }
  }
}
