.signup-vendor-container {
  display: flex;
  justify-content: center;
  .container-fields {
    width: 400px;
    padding: 30px 20px;
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 10px rgb(26, 68, 102);
    .submit_error_label {
      width: 100%;
      color: var(--warning);
      margin-bottom: 10px;
      font-size: 14px;
      text-align: center;
    }
    .vendor-title {
      text-transform: uppercase;
      box-shadow: 0px 0px 10px rgb(24, 17, 65);
      width: 100%;
      text-align: center;
      font-size: 25px;
      margin: 30px auto;
      padding: 5px;
      @media screen and (max-width: 576px) {
        font-size: 17px;
      }
    }
    @media screen and (max-width: 576px) {
      width: 300px;
    }
  }
}
