.companies_container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(212, 171, 178);
  .title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 20px auto;
    color: rgb(105, 50, 59);
  }
  .companies_label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .companies_name {
      display: flex;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      background: #fc5451;
      justify-content: center;
      text-align: center;
      align-items: center;
      font-weight: bold;
      margin: 10px;
      padding: 10px;
      border: 1px solid pink;
      color: rgb(255, 255, 255);
      @media screen and (max-width: 576px) {
        width: 100px;
        height: 100px;
      }
    }
  }
}
