.body-container {
  min-height: 70vh;
  background-color: rgb(179, 72, 85);
  color: black;
  .title {
    text-align: center;
    font-family: "Monoton", cursive;
    color: #ffffff;
    font-size: 40px;
    padding: 11px 0px;
    border-bottom: 1px solid #4d4d4d;
  }
  .paragraph {
    font-size: 20px;
  }
}
