.app-container {
  margin: 0;
  padding: 0;
  .header-conatiner {
    position: fixed;
    width: 100%;
    z-index: 2000;
    height: 70px;
    @media screen and(max-width: 576px) {
      height: 88px;
    }
  }
  .page_container {
    padding-top: 70px;
    min-height: 72vh;
    @media screen and(max-width: 576px) {
      padding-top: 88px;
    }
  }
}
