@import "../../global-style/style.scss";
footer {
  background: $bg-footer;
  padding: 0;
  margin: 0;
}

footer .logo {
  text-align: center;
  font-family: $title-font;
  color: #ffffff;
  font-size: 40px;
  padding: 5px 0px 25px 0;
  margin-bottom: 5px;
  border-bottom: 1px solid #c2c5df;
}
@media screen and (max-width: 576px) {
  footer .logo {
    font-size: 20px;
    padding: 5px 0px 20px 0;
  }
  h2 {
    font-size: 15px;
  }
  .left {
    font-size: 12px;
  }
}
footer .wrapper {
  display: flex;
  // color: #c1b3d3;
  color: $footer-color;
  padding: 5px 10px;
}
@media screen and (max-width: 800px) {
  footer .wrapper {
    flex-direction: column;
    padding-bottom: 20px;
  }
  h2 {
    text-align: center;
  }
}
footer .left,
footer .right {
  flex: 1;
  h2 {
    margin-bottom: 15px;
    font-size: 17px;
  }
}

footer .business_nfo {
  display: flex;
  flex-wrap: wrap;
}

footer .business_nfo .tag {
  flex-grow: 1;
  position: relative;
  width: 50%;
  margin-bottom: 30px;
}
footer .business_nfo .icon {
  position: absolute;
  font-size: 26px;
  top: 10px;
}
footer .business_nfo .nfo {
  padding-left: 40px;
}
