:root {
  --bg_color: white;
  --bg-header: #59405c;
  --btn-nav-bg: #cffffe;
  --btn-nav-color: #322f3d;
  --btn-bg-color: rgb(96, 175, 201);
  --btn-bg-color-hover: #322f3d;
  --btn-bg-color-hover-border: #cffffe;
  --bg-footer: #322f3d;

  --warning: #f44336;
}

@use "sass:map";

$theme-colors: (
  "success": #28a745,
  "info": #17a2b8,
  "warning": #ffc107,
);

// .alert {
//   // Instead of $theme-color-#{warning}
//   background-color: map.get($theme-colors, "warning");
// }

@mixin button-style(
  $bg-color: $btn-bg-color,
  $bg-color-hover: $btn-bg-color-hover
) {
  background-color: $bg-color;
  // more styles

  &:hover {
    background-color: $bg-color-hover;
    // more styles
  }
}
