@import "colors";
@import "variables";
@import "mixins";

:root {
  --bg_color: white;
  --bg-header: #c7dbdb;
  --bg-header2: #037070;
  --bg-dashboard: #037070;
  --btn-nav-bg: #faf0e6;
  --btn-nav-color: #322f3d;
  --btn-bg-color: #c0c0c0;
  --btn-bg-color-hover: #086169;
  --btn-bg-color-hover-border: #cffffe;
  --bg-footer: #323133;
  --bg-footer2: #203131;
  --warning: #f44336;
  --shadow: rgb(33, 94, 88);
  --bg-footer-old: rgb(63, 45, 80);
  --title-font: "Monoton", cursive;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  -webkit-text-size-adjust: none;
}
mark {
  background-color: transparent;
  color: inherit;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
button {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
}

.btn {
  background-color: $btn-bg;
  color: rgb(0, 0, 0);
  outline: none;
  min-height: 20px;
  padding: 3px 15px;
  border: 1px solid rgb(34, 2, 2);
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  &:hover {
    color: white;
    background-color: $btn-bg-hover;
  }
}
a {
  text-decoration: none;
}

textarea {
  width: 100%;
  height: 51px;
  font-size: 15px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  border: 1px solid #d1d1d1;
}
