$bg_color: white;
$bg-header: #008b8b;
$bg-header2: #037070;
$bg-dashboard: #037070;

$bg-footer: #323133;
$bg-footer2: #203131;

/// button

$btn-nav-bg: #faf0e6;
$btn-nav-color: #322f3d;
$btn-bg-color: #c0c0c0;
$btn-bg-color-hover: #086169;
$btn-bg-color-hover-border: #cffffe;

// font
$title-font: "Monoton", cursive;
