$bg_color: white;
$bg-header: #ffffff;
$bg-header2: #037070;
$bg-dashboard: #037070;

$bg-footer: #323133;
$bg-footer2: #203131;

$bg-menu: rgb(77, 100, 32);
$bg-menu-category: rgb(229, 235, 191);
$bg-success: rgb(59, 145, 59);

/// button
$btn-color: rgb(109, 68, 155);
$btn-color-hover: rgb(24, 12, 75);
$btn-bg: #ffffff;
$btn-bg-hover: #e8e4ed;
$btn-border: rgb(200, 182, 216);
$btn-border-hover: rgb(28, 11, 68);

// font
$title-font: "Monoton", cursive;
