$bg_color: white;
$bg-header: #d1d6e8;
$bg-header2: #e1e4f0;
$bg-dashboard: #037070;

$bg-footer: #323133;
$bg-footer2: #203131;

$bg-footer: #9f87b6;
$bg-footer2: #aaa1c4;

$footer-color: rgb(54, 43, 78);
$footer2-color: rgb(80, 65, 131);

$bg-menu-color: white;
$bg-menu: rgb(131, 99, 206);
$bg-menu-category: rgb(212, 222, 196);
$bg-success: rgb(59, 145, 59);

/// button
$btn-color: rgb(109, 68, 155);
$btn-color-hover: rgb(24, 12, 75);
$btn-bg: #ffffff;
$btn-bg-hover: #e8e4ed;
$btn-border: rgb(200, 182, 216);
$btn-border-hover: rgb(28, 11, 68);

// font
$title-font: "Monoton", cursive;
