@import "../../global-style/style.scss";
.custom-button {
  margin: auto;
  width: 70%;
  min-height: 30px;
  border-radius: 5px;
  letter-spacing: 0.5px;
  line-height: 30px;
  padding: 0 20px 0 20px;
  font-size: 15px;
  background-color: $btn-bg;
  color: $btn-color;
  text-transform: uppercase;
  font-weight: bolder;
  border: 1px solid $btn-border;
  cursor: pointer;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 800px) {
    width: 60%;
    font-size: 13px;
  }
  @media screen and (max-width: 576px) {
    width: 70%;
    font-size: 12px;
  }
  &:hover {
    background: $btn-bg-hover;
    color: $btn-color-hover;
    border: 1px solid $btn-border-hover;
  }

  &.google-sign-in {
    margin-top: 20px;
    background-color: #345bae;
    color: white;

    &:hover {
      background-color: #b9e810;
      color: black;
      border: 1px solid rgb(88, 88, 18);
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}
